body{
    background-image: linear-gradient(to right top, #2de765, #5be768, #77e76d, #8ee773, #a0e77a, #a2e980, #a3ea87, #a5ec8d, #98f094, #88f49c, #76f7a6, #5ffbb0);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
#inscription-form{
    margin: 10vh auto;
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 70vh;
    border-radius: 12px;
    box-shadow: 0px 0px 2vh 1vh #0003;
    overflow: hidden;
    background-color: #fff;
}
#inscription-form form{
    padding: 2vw;
    background-color: var(--tertiary-color);
    flex-grow: 5;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
label{
    margin: 15px 0px;
    
    font-size: 2vh;
}
input{
    height: 40px;
    border-radius: 10px;
    border-style: none;
    font-size: 2.4vh;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);
    padding: 0 5px;
}
input[type="submit"]{
    margin-top: auto;
    cursor: pointer;
}
#inscription-form > img{
    object-fit: cover;
    width: 100%;
    flex-grow: 1;
}