@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root{
    --primary-color: #b8e2f8;
    --secundary-color: #43F5DD;
    --tertiary-color: #C5F233;
    --gradient-one: linear-gradient(to right top, #90ff48, #97fa3d, #9df531, #a3f024, #a8eb12);
}
*{
    scroll-behavior:smooth;
}
body{
    background-color: #fff;
    /* background-image: linear-gradient(to left top, #43f5dd, #2df5cf, #1ef5be, #22f4ab, #33f295);  */
    margin: 0;
}
p{
    margin: 0;
 }
header{
    background-color: #fff;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header_logo{
    height: 100%;
}

#header_login-box{
    height: 100%;
    width: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(23, 113, 187);
    margin: 0;
    overflow: hidden;
}
#header_login-box div{
    width: 100%;
    height: 50%;
}
#header_login-box div a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 100%;
    text-decoration: none;
    transition-property: color background-color;
    transition-duration: 1s;
}
#header_login-box div a:hover{
    color: #000;
    background-color: #b8e2f8;
}
nav{
    margin: 0;
    padding: 0px 10px;
    height: 5vh;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0px 2px 10px 4px rgba(0, 0, 0, 0.2);
    background-color: #C5F233;
    font-size: 2.7vh;
    font-family: 'Kanit', sans-serif;
    color: black;
}
nav ul{
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
nav li{
    display: inline-block;
    height: 80%;
    padding: 0 10px;
    width: calc(max-content + 10px);
    display: flex;
    align-items: center;
    transition-property: background-color border-radius;
    transition-duration: 1s;
}
nav li:hover{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}
nav a{
    text-decoration: none;
}
nav a:link{
    color: #000;
}
nav a:visited{
    color: black
}
main{
    margin: 0;
    padding: 0;
}
#main_presentation{
    margin: 0;
    background-image: url("../images/photos/presentation-page.jpg");
    background-size: cover;
    height: 83vh;
    display: flex;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
    box-shadow: 0px -30px 20px 40px rgba(0, 0, 0, 0.2);
    z-index: -1;
}
#main_presentation-text{
    width: 60vw;
    padding: 50px;
    /*background-color: rgba(0, 250, 0, 0.4);*/
    color: #fff;
    font-family: 'Fira Sans', sans-serif;
    z-index: 1;
}
h1{
    margin: 0px;
    font-size: 10vh;
    text-shadow: 0px 4px 2px  black;
    text-align: left;
}
#main_presentation-text p{
    margin: 10px 0px;
    font-size: 5vh;
    text-shadow: 0px 3px 2px  black;
    text-align: left;
}
#main_presentation-football-player{
    object-fit: contain;
    height: 80%;
    position: absolute;
    right: 0;
    bottom: 0;
    filter: grayscale() contrast(1.4) drop-shadow(40px 5px 0px #000a);
    
}
h2{
    font-size: 6vh;
    color:#fff;
    text-shadow: -.2vh .2vh 0px  black;
    font-family: 'Josefin Sans', sans-serif;
    margin: 30px 0px;
    background-color: var(--tertiary-color);
    box-shadow: -5px 5px 0px 6px black;
    padding: 10px 20px;
    width: max-content;
    border-radius: 20% 0px 20% 0px;
}
#main_about-us{
    padding: 40px;
}
#main_about-us > p{
    margin: 30px 0px;
    font-size: 3.2vh;
    color: #000;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    line-height: 4vh;
}
#main-about-us_cards{
    height: auto;
    display: flex;
    justify-content: space-evenly;
    height: 50vh;
}
.main_about-us_card-info{
    margin: 20px 0px;
    background-color: var(--tertiary-color);
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    border-radius: 20px;
    transition-property: transform;
    transition-duration: 0.4s;
}
.main_about-us_card-info:hover{
    transform: scale(1.05)
}
.main_about-us_card-info > img{
    width: 100%;
    height: 10vh;
    object-fit: cover;
    background-color: #fff;
    box-shadow: 0px 10px 60px 0px #0003;
}
.main_about-us_card-info h3{
    height: 20%;
    font-size: 4vh;
    color:#fff;
    text-shadow: -.2vh .3vh 0px  black;
    font-family:'Fira Sans', sans-serif;
    text-align: center;
    margin: 20px;
    display: flex;
    align-items: center;
}
.main_about-us_card-info div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 90%;
    height: 45%;
    padding: 3vh;
}
.main_about-us_card-info > div > img{
    width: 20%;
    object-fit: contain;
    margin: 0.5vw;
}
.main_about-us_card-info >  div > ul{
    width: 100%;
    height: 100%;
    font-size: 3vh;
    display: block;
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Kanit', sans-serif;
}
.main_about-us_card-info > div li{
    width: 70%;
    display: inline-block;
    text-align: center;
    background-position: center;
    background-size:cover;
    border-radius: 20px;
    color: #000;
    text-shadow: -0.2vh 0.2vh #fff;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.main_about-us_card-info > div li span{
    width: 50%;
    float: right;
}
.main_about-us_card-info > div li i{
    margin-right: 10%;
    float: left;
}
#main_courts{
    background-color: var(--primary-color);
    padding: 3vh 6vh;
}
.main_courts_card{
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 20px;
    overflow: hidden;
    margin: 20px;
}
.main_courts_card-header{
    width: 100%;
    height: 10vh;
    position: relative;
    overflow: hidden;
}
.main_courts_card-header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(0.2vh);
    z-index: -1;
}
#main_courts_card-header-img2{
    width: 180%;
}
#main_courts_card-header-img3{
    width:100%;
    object-position: 0px -90vh;
}
.main_courts_card-header p{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7vh;
    font-family: 'Fira Sans', sans-serif;
    color: #fff;
    text-shadow: -0.2vh 0.2vh #000;
    z-index: 1;
    top: 0;
    text-align: center;

}
.main_courts_card-info{
    padding: 20px;
}
#main_gallery{
    padding: 2vw;
}
#main_gallery-container{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
    grid-template-rows: repeat(3, 20vh);
    grid-auto-rows: 20vh;
    grid-gap: 1vw;
}
#main_gallery-container img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .5s;
}
#main_gallery-container img:hover{
    transform: scale(1.04);
}
#main_gallery-container img:nth-child(1){
    grid-column: 1 / span 2;
}
#main_gallery-container img:nth-child(5){
    grid-column: 2 / span 3;
    grid-row: 2 / span 2;
}
#main_gallery{
    padding: 2vw;
}

aside{
    margin: 5vh 0px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
aside > img{
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: -20vh;
    filter: blur(0.3vh) saturate(2.5) grayscale(.9) brightness(1.4);
}
aside > p{
    font-size: 600%;
    width: 70%;
    margin: .4vh 5vw;
    color:var(--tertiary-color);
    text-shadow: -.2vh .2vh 0px  black;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    height: min-content;
}
#social-medias {
    background-color: var(--tertiary-color);
    padding: 1vh 0px;
}
#social-medias ul{
    height: min-content;
    min-width: 12vw;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    font-size: 4vh;
}
#social-medias ul li{
    height: 100%;
    display: inline-block;
}
#social-medias a:visited{
    color: black;
}
footer{
    background-color: var(--primary-color);
    height: auto;
    padding: .5vh 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer > img {
    width: 8vw;
    height: 100%;
    object-fit: contain;
}
footer > p{
    font-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 50vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer > div{
    width: 20vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer > div > p{
    font-size: 120%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    
}
footer > div > ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer > div > ul > li{
    display: inline-block;
    margin: .4vh 0;
    font-size: 80%;
}
footer > div > ul > li i{
    float: left;
    margin: 0 1vw;
}
footer a{
    color: #000;
    text-decoration: none;
}
footer a:visited{
    color: #000;
}
footer a:link{
    color: #000;
}
